<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div align="center" >
        <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
            <label for="name">name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="name">
            <label for="lastName">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="last_name">
            <input type="submit" value="new user">
        </form>
    </div>
</body>
</html>